.formContainer{
  display: flex;
  padding: 2rem;
  justify-content: center;

  flex-direction: column;
}

.titleInput{
  width: 12rem;
  padding: 1rem 2rem;
}

button{
  width: 8rem;
  padding: 1rem;
}

input{
  margin: 1rem;
}